    location = /unifiedpush-server/ {
        sub_filter '</body>' '<script src="../aerobase.js"></script>
</body>';
        sub_filter_once on;

        ## Serve static files from defined root folder.
        root /var/opt/aerobase/nginx/www/html;
        try_files $uri $uri/index.html $uri.html @unifiedpush;
    }

    location = /getting-started/ {
        sub_filter '</body>' '<script src="../aerobase.js"></script>
</body>';
        sub_filter_once on;

        ## Serve static files from defined root folder.
        root /var/opt/aerobase/nginx/www/html;
        try_files $uri $uri/index.html $uri.html @unifiedpush;
    }
