.bundle
pkg
###
# Ignore Chef key files and secrets
###
.chef/*.pem
.chef/encrypted_data_bag_secret
.chef
bin
.env
files/aerobase-cookbooks/apt
files/aerobase-cookbooks/ark
files/aerobase-cookbooks/compat_resource
files/aerobase-cookbooks/ohai
files/aerobase-cookbooks/mingw
files/aerobase-cookbooks/windows
files/aerobase-cookbooks/homebrew
files/aerobase-cookbooks/runit
files/aerobase-cookbooks/systemd
files/aerobase-cookbooks/enterprise
files/aerobase-cookbooks/ulimit
files/aerobase-cookbooks/packagecloud
