[submodule "java"]
	path = files/unifiedpush-cookbooks/java
	url = https://github.com/agileorbit-cookbooks/java.git
	branch = v1.45.0
[submodule "compat_resource"]
	path = files/unifiedpush-cookbooks/compat_resource
	url = https://github.com/chef-cookbooks/compat_resource.git
	branch = v12.16.3
[submodule "apt"]
	path = files/unifiedpush-cookbooks/apt
	url = https://github.com/chef-cookbooks/apt.git
	branch = v5.0.1
[submodule "windows"]
	branch = v2.1.1
	path = files/unifiedpush-cookbooks/windows
	url = https://github.com/chef-cookbooks/windows.git
[submodule "homebrew"]
	path = files/unifiedpush-cookbooks/homebrew
	url = https://github.com/chef-cookbooks/homebrew.git
	branch = v3.0.0
[submodule "ohai"]
	path = files/unifiedpush-cookbooks/ohai
	url = https://github.com/chef-cookbooks/ohai.git
	branch = v4.2.3
[submodule "cassandra-dse"]
	path = files/unifiedpush-cookbooks/cassandra-dse
	url = https://github.com/michaelklishin/cassandra-chef-cookbook.git
	branch = master
[submodule "ulimit"]
	path = files/unifiedpush-cookbooks/ulimit
	url = https://github.com/bmhatfield/chef-ulimit.git
	branch = v0.4.0
[submodule "yum"]
	path = files/unifiedpush-cookbooks/yum
	url = https://github.com/chef-cookbooks/yum.git
	branch = v4.1.0
[submodule "ark"]
	path = files/unifiedpush-cookbooks/ark
	url = https://github.com/chef-cookbooks/ark.git
	branch = v2.2.1
[submodule "build-essential"]
	path = files/unifiedpush-cookbooks/build-essential
	url = https://github.com/chef-cookbooks/build-essential.git
	branch = v7.0.3
[submodule "seven_zip"]
	path = files/unifiedpush-cookbooks/seven_zip
	url = https://github.com/windowschefcookbooks/seven_zip.git
	branch = v2.0.2
[submodule "mingw"]
	path = files/unifiedpush-cookbooks/mingw
	url = https://github.com/chef-cookbooks/mingw.git
	branch = v1.2.4
[submodule "systemd"]
	path = files/unifiedpush-cookbooks/systemd
	url = https://github.com/nathwill/chef-systemd.git
	branch = v2.1.3
[submodule "files/unifiedpush-cookbooks/chef_handler"]
	path = files/unifiedpush-cookbooks/chef_handler
	url = https://github.com/chef-cookbooks/chef_handler.git
